/*==============
    FOOTER
===============*/

footer.site-footer {

    a {
        color: $grey;
    }

    .btn {
        width: 100%;
        background: $two;
        border-style: none;
        font-weight: bold;
        text-transform: capitalize;
        color: white;
        transition: all 0.3s;

        &:hover {
            background: $five;
        }
    }

    h4 {
        color: $grey;
        text-transform: uppercase;
        font-size: 1.2em;
    }

    .logo {
        color: $one;
    }

    .phone-links {
        margin-bottom: 2em;

        a {
            // font-weight:bold;
            //color:$five;
            display: block;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        a {
            //color:$five;
            text-transform: capitalize;
        }
    }


    .social-links {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;

        a {
            //color:$five;
        }

    }

    .summary {
        margin-bottom: 2em;
    }







}


@media(max-width:870px) and (min-width:769px) {

    footer.site-footer {

        .btn {
            font-size: 0.8em;
        }


    } //footer
} //768
@media(max-width:768px) {

    footer.site-footer {

        .footer-block {
            text-align: center;
        }


    } //footer
} //768
