$generic-map: (base: #45398B, second:#FE6198, third:#E2E0ED, fourth:#EDF5F8, fifth:#645B9E);
$sprout-map: (base: #58B147, second:#EA5A53, third:#4FC5D7, fourth:#FACE41, fifth:#606E7B, sixth:#bde2b6);
$map: $sprout-map;

//$size-class:( "xl", "lg","md","sm");
//$size-max:( 1200,992,768,577);
$size-class:( "sm", "md", "lg", "xl");
$size-max:(577, 768, 992, 1200);
$mar-class:( "mx", "my", "mt", "mb", "mr", "ml");



$one: map-get($map, base); //green
$two: map-get($map, second); //red
$three: map-get($map, third); // cyan 
$four: map-get($map, fourth); // yellow
$five: map-get($map, fifth); // blue grey
$six: map-get($map, sixth); // light green
$grey: #73808c;
$green:$one;
$red:$two;
$blue:$three;
$yellow:$four;
$grey2:$five;
$grey3:#F4F4F4;
$green2:$six;
$black: #343a40;

$item-1:#ff751a;
$item-2: #1a75ff;
$item-3: #00b33c;
$item-4:#ff1a1a;

/*=================
   CLASSES
=================*/

.bg {
    &-green {
        background: $one;
    }
    &-red {
        background: $two;
    }
    &-blue {
        background: $three;
    }
    &-yellow {
        background: $four;
    }

    &-block {
        background: white;
        padding: 4em 2em;
    }


}

.no-bullets {
    list-style: none;
    padding: 0;
}

.between {
    justify-content: space-between;
}

.center-all {
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    width: 100%;
}



.container {
    max-width: 1200px;

    &.wide {
        max-width: 1400px;
    }
}

.bg {
    &-one {
        background: $one;
    }
    &-two {
        background: $two;
    }
    &-three {
        background: $three;
    }
    &-four {
        background: $four;
    }
}

.border {
    &-top {
        border-top: 1px solid $one;
    }

    &-bottom {
        border-bottom: 1px solid $one;
    }

    &-right {
        border-bottom: 1px solid $one;
    }

    &-left {
        border-bottom: 1px solid $one;
    }
}



.fluid,
.break {
    width: 100%;
}

.hide {
    display: none;
}

.horizontal-list {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
}

.icon {
    font-size: 6em;
}

.inherit-size {
    height: 100%;
    width: 100%;
}



.no-bullets {
    list-style: none;
}


@for $i from 1 through length($size-class) {
    $class: nth($size-class, $i);
    $max: nth($size-max, $i);
    @media(min-width: $max+"px") {
        .#{$class}-column {
            flex-direction:column;
        }
        .#{$class}-row {
            flex-direction: row;
            justify-content: space-around;
        }

    }

}

@for $i from 1 through length($size-class) {
    $class: nth($size-class, $i);
    $max: nth($size-max, $i);
    @media(min-width: $max+"px") {

        .#{$class}-invisible {
            visibility:hidden;
        }

        .#{$class}-hide {
            display: none;
        }


        .#{$class}-visible {
            visibility: hidden;
        }


        .#{$class}-show {
            display: flex;
        }
        .#{$class}-show-b {
            display: block;
        }



    }

    @media(max-width: $max+"px") {

        .break-#{$class} {
            width: 100%;
        }

        .mx-auto-#{$class} {
            margin: 0 auto;
        }
        .my-auto-#{$class} {
            margin: auto 0;
        }
        .mt-auto-#{$class} {
            margin-top: auto;
        }
        .mb-auto-#{$class} {
            margin-bottom: auto;
        }
        .ml-auto-#{$class} {
            margin-left: auto;
        }
        .mr-auto-#{$class} {
            margin-right: auto;
        }





    }

}

.y-center {
    align-items: center;
}



/*==============
    GENERAL
===============*/

body {
    color: $black;
}

h2 {
    font-weight: 400;
}

h3 {
    font-weight: 500;
}

a {
    transition: all 0.3s;
    &:hover {
        text-decoration: none;
    }
}


/*==============
    GET STARTED
===============*/

.get-started {

    background: $one;
    color: white;
    text-align: center;


    input {
        &[type=submit] {
            background: $two;
            padding: 0.5em 2em;
            font-size: 1.2em;
            border-style: none;
            margin-top: 1em;

            &:hover,
            &:active,
            &:focus {
                background: $three;
            }
        }
    }


    .required {
        color: $two;
        font-size: 1.5em;
        font-weight: bold;
        padding-left: 10px;
    }
}
